In [6]:
import matplotlib.pyplot as plt
import numpy as np

In [93]:
one_year = np.linspace(0, 1, 13)
three_year = np.linspace(0, 3, 37)
ten_year = np.linspace(0, 10, 121)



def interest_added_monthly(years):
    months = np.linspace(0, years, years*12 + 1)
    a = -1
    delta = 0
    for i in months:
        
        a += 1
        if a%12 == 0:
            print('Initial Balance: ', y(i))
        else:
            print('Month {} balance: {}'.format(a, y(i)))

        if a%12 == 0 and a != 0:
            
            delta = y(months[a]) - y(months[a - 12])
            print('Total interest added in previous year: ', delta)
            print('\n' + '------------------------------------------ New Year')
            
interest_added_monthly(3)

Initial Balance:  30000.0
Month 1 balance: 30149.999999999996
Month 2 balance: 30300.749999999993
Month 3 balance: 30452.25374999999
Month 4 balance: 30604.515018749986
Month 5 balance: 30757.537593843732
Month 6 balance: 30911.32528181295
Month 7 balance: 31065.881908222014
Month 8 balance: 31221.21131776312
Month 9 balance: 31377.31737435193
Month 10 balance: 31534.203961223688
Month 11 balance: 31691.874981029803
Initial Balance:  31850.33435593495
Total interest added in previous year:  1850.3343559349487

------------------------------------------ New Year
Month 13 balance: 32009.58602771462
Month 14 balance: 32169.633957853188
Month 15 balance: 32330.48212764245
Month 16 balance: 32492.13453828066
Month 17 balance: 32654.595210972057
Month 18 balance: 32817.868187026914
Month 19 balance: 32981.95752796205
Month 20 balance: 33146.86731560185
Month 21 balance: 33312.60165217986
Month 22 balance: 33479.16466044075
Month 23 balance: 33646.56048374296
Initial Balance:  33814.793286161665
Total interest added in previous year:  1964.458930226716

------------------------------------------ New Year
Month 25 balance: 33983.86725259247
Month 26 balance: 34153.78658885543
Month 27 balance: 34324.5555217997
Month 28 balance: 34496.1782994087
Month 29 balance: 34668.65919090574
Month 30 balance: 34842.00248686026
Month 31 balance: 35016.21249929456
Month 32 balance: 35191.29356179103
Month 33 balance: 35367.25002959998
Month 34 balance: 35544.08627974798
Month 35 balance: 35721.80671114671
Initial Balance:  35900.41574470244
Total interest added in previous year:  2085.6224585407763

------------------------------------------ New Year

In [75]:
def interest_added(years=10, init=30000, r = 0.06, n=12):
    
    '''
    Computes interest added each year after graduation
    
    years: number of years after graduation, default=10
    init: initial amount of money (initial principal balance), default=30000
    r: interest rate, default=0.06
    n: compounding per year, default=12 (monthly compounding)
    
    RETURNS: list of values for each year
    '''
    
    def y(x):
        return init*(1+r/12)**(12*x)
    blabla = []
    for i in range(1, years):
        print('Year {} interest added: {}'.format(i, y(i) - y(i-1)))
        
        blabla.append(y(i) - y(i-1))
    print('Total interest added: {}'.format(sum(blabla)))
    return blabla

In [78]:
interest_added(10)

ch = 1

Year 1 interest added: 1850.3343559349487
Year 2 interest added: 1964.458930226716
Year 3 interest added: 2085.6224585407763
Year 4 interest added: 2214.2590881590295
Year 5 interest added: 2350.8297436177527
Year 6 interest added: 2495.8237782700817
Year 7 interest added: 2649.7607277131538
Year 8 interest added: 2813.1921713629927
Year 9 interest added: 2986.703708846995
Total interest added: 21410.984962672446