In [6]:
import matplotlib.pyplot as plt
import numpy as np

In [101]:

            
interest_added_monthly(3)

Initial Balance:  30000.0
Month 1 balance: 30149.999999999996
Month 2 balance: 30300.749999999993
Month 3 balance: 30452.25374999999
Month 4 balance: 30604.515018749986
Month 5 balance: 30757.537593843732
Month 6 balance: 30911.32528181295
Month 7 balance: 31065.881908222014
Month 8 balance: 31221.21131776312
Month 9 balance: 31377.31737435193
Month 10 balance: 31534.203961223688
Month 11 balance: 31691.874981029803
Initial Balance:  31850.33435593495
Total interest added in previous year:  1850.3343559349487

------------------------------------------ New Year
Month 13 balance: 32009.58602771462
Month 14 balance: 32169.633957853188
Month 15 balance: 32330.48212764245
Month 16 balance: 32492.13453828066
Month 17 balance: 32654.595210972057
Month 18 balance: 32817.868187026914
Month 19 balance: 32981.95752796205
Month 20 balance: 33146.86731560185
Month 21 balance: 33312.60165217986
Month 22 balance: 33479.16466044075
Month 23 balance: 33646.56048374296
Initial Balance:  33814.793286161665
Total interest added in previous year:  1964.458930226716

------------------------------------------ New Year
Month 25 balance: 33983.86725259247
Month 26 balance: 34153.78658885543
Month 27 balance: 34324.5555217997
Month 28 balance: 34496.1782994087
Month 29 balance: 34668.65919090574
Month 30 balance: 34842.00248686026
Month 31 balance: 35016.21249929456
Month 32 balance: 35191.29356179103
Month 33 balance: 35367.25002959998
Month 34 balance: 35544.08627974798
Month 35 balance: 35721.80671114671
Initial Balance:  35900.41574470244
Total interest added in previous year:  2085.6224585407763

------------------------------------------ New Year

In [175]:
def balance_monthly(years=10, init=30000., r = 0.06, n=12, frequency = 'annually'):
    
    '''
    Prints your balance for each month in years, and at the end of each year prints the total interest added to your balance
    
    years: number of years after graduation, default=10
    init: initial amount of money (initial principal balance), default=30000
    r: interest rate per year, default=0.06
    n: compounding in a year, default=12 (monthly compounding)
    
    RETURNS: list of values for each year
    '''
    
    
    if frequency == 'annually':
        # Define compounding interest function for t in years
        def y(t):
            return init*(1+r/n)**(n*t) 

        interest = []
        balance = [init]

        print('Initial Balance: ', init)
        print('\n')

        for i in range(1, years):
            print('Year {} interest added: {}'.format(i, y(i) - y(i-1)))
            print('End of year {} balance: {}'.format(i, y(i)))
            print('\n')

            interest.append(y(i) - y(i-1))
            balance.append(y(i))


        print('Total interest added: {}'.format(sum(interest)))
        return interest, balance
    
    
    
    elif frequency == 'monthly':
        # Define compounding interest function for t in months
        def y(t):
            return init*(1+(r/12)/(n/12))**((n/12)*t) 

        interest = []
        balance = [init]
        a = 0

        print('Initial Balance: {}{}'.format(init, u"\xA3"))
        print('\n')
        print('------------------------------------------------Year 1')

        for i in range(1, years*12):
            a += 1
            if a%12 == 0:
                print('------------------------------------------------Year {}'.format(a//12 + 1))
                a = 1
            print('Month {} interest added: {}{}'.format(a, int(y(i) - y(i-1)), u"\xA3"))
            print('Start of Month {} balance: {}{}'.format(a + 1, int(y(i)), u"\xA3"))
            print('-')

            interest.append(y(i) - y(i-1))
            balance.append(y(i))


        print('Total interest added: {}'.format(sum(interest)))
        return interest, balance

In [176]:
balance_monthly(4, frequency = 'monthly')

b=1

Initial Balance: 30000.0£


------------------------------------------------Year 1
Month 1 interest added: 149£
Start of Month 2 balance: 30149£
-
Month 2 interest added: 150£
Start of Month 3 balance: 30300£
-
Month 3 interest added: 151£
Start of Month 4 balance: 30452£
-
Month 4 interest added: 152£
Start of Month 5 balance: 30604£
-
Month 5 interest added: 153£
Start of Month 6 balance: 30757£
-
Month 6 interest added: 153£
Start of Month 7 balance: 30911£
-
Month 7 interest added: 154£
Start of Month 8 balance: 31065£
-
Month 8 interest added: 155£
Start of Month 9 balance: 31221£
-
Month 9 interest added: 156£
Start of Month 10 balance: 31377£
-
Month 10 interest added: 156£
Start of Month 11 balance: 31534£
-
Month 11 interest added: 157£
Start of Month 12 balance: 31691£
-
------------------------------------------------Year 2
Month 1 interest added: 158£
Start of Month 2 balance: 31850£
-
Month 2 interest added: 159£
Start of Month 3 balance: 32009£
-
Month 3 interest added: 160£
Start of Month 4 balance: 32169£
-
Month 4 interest added: 160£
Start of Month 5 balance: 32330£
-
Month 5 interest added: 161£
Start of Month 6 balance: 32492£
-
Month 6 interest added: 162£
Start of Month 7 balance: 32654£
-
Month 7 interest added: 163£
Start of Month 8 balance: 32817£
-
Month 8 interest added: 164£
Start of Month 9 balance: 32981£
-
Month 9 interest added: 164£
Start of Month 10 balance: 33146£
-
Month 10 interest added: 165£
Start of Month 11 balance: 33312£
-
Month 11 interest added: 166£
Start of Month 12 balance: 33479£
-
------------------------------------------------Year 2
Month 1 interest added: 167£
Start of Month 2 balance: 33646£
-
Month 2 interest added: 168£
Start of Month 3 balance: 33814£
-
Month 3 interest added: 169£
Start of Month 4 balance: 33983£
-
Month 4 interest added: 169£
Start of Month 5 balance: 34153£
-
Month 5 interest added: 170£
Start of Month 6 balance: 34324£
-
Month 6 interest added: 171£
Start of Month 7 balance: 34496£
-
Month 7 interest added: 172£
Start of Month 8 balance: 34668£
-
Month 8 interest added: 173£
Start of Month 9 balance: 34842£
-
Month 9 interest added: 174£
Start of Month 10 balance: 35016£
-
Month 10 interest added: 175£
Start of Month 11 balance: 35191£
-
Month 11 interest added: 175£
Start of Month 12 balance: 35367£
-
------------------------------------------------Year 2
Month 1 interest added: 176£
Start of Month 2 balance: 35544£
-
Month 2 interest added: 177£
Start of Month 3 balance: 35721£
-
Month 3 interest added: 178£
Start of Month 4 balance: 35900£
-
Month 4 interest added: 179£
Start of Month 5 balance: 36079£
-
Month 5 interest added: 180£
Start of Month 6 balance: 36260£
-
Month 6 interest added: 181£
Start of Month 7 balance: 36441£
-
Month 7 interest added: 182£
Start of Month 8 balance: 36623£
-
Month 8 interest added: 183£
Start of Month 9 balance: 36806£
-
Month 9 interest added: 184£
Start of Month 10 balance: 36990£
-
Month 10 interest added: 184£
Start of Month 11 balance: 37175£
-
Month 11 interest added: 185£
Start of Month 12 balance: 37361£
-
------------------------------------------------Year 2
Month 1 interest added: 186£
Start of Month 2 balance: 37548£
-
Month 2 interest added: 187£
Start of Month 3 balance: 37736£
-
Month 3 interest added: 188£
Start of Month 4 balance: 37925£
-
Total interest added: 7925.049584936787

In [ ]:
def balance_monthly(years):
   
    months = np.linspace(0, years, years*12 + 1)
    a = -1
    delta = 0
    for i in months:
        
        a += 1
        if a%12 == 0:
            print('Initial Balance: ', y(i))
        else:
            print('Month {} balance: {}'.format(a, y(i)))

        if a%12 == 0 and a != 0:
            
            delta = y(months[a]) - y(months[a - 12])
            print('Total interest added in previous year: ', delta)
            print('\n' + '------------------------------------------ New Year')

In [115]:
def balance_annually(years=10, init=30000., r = 0.06, n=12):
    
    '''
    Computes interest added each year after graduation
    
    years: number of years after graduation, default=10
    init: initial amount of money (initial principal balance), default=30000
    r: interest rate, default=0.06
    n: compounding per year, default=12 (monthly compounding)
    
    RETURNS: list of values for each year
    '''
    
    # Define compounding interest formula
    def y(x):
        return init*(1+r/12)**(12*x) 

    interest = []
    balance = [init]
    
    print('Initial Balance: ', init)
    print('\n')
    
    for i in range(1, years):
        print('Year {} interest added: {}'.format(i, y(i) - y(i-1)))
        print('Year {} balance: {}'.format(i, y(i)))
        print('\n')
        
        interest.append(y(i) - y(i-1))
        balance.append(y(i))
        
    
    print('Total interest added: {}'.format(sum(interest)))
    return interest, balance

In [116]:
balance_annually(10)

ch = 1

Initial Balance:  30000.0


Year 1 interest added: 1850.3343559349487
Year 1 balance: 31850.33435593495


Year 2 interest added: 1964.458930226716
Year 2 balance: 33814.793286161665


Year 3 interest added: 2085.6224585407763
Year 3 balance: 35900.41574470244


Year 4 interest added: 2214.2590881590295
Year 4 balance: 38114.67483286147


Year 5 interest added: 2350.8297436177527
Year 5 balance: 40465.50457647922


Year 6 interest added: 2495.8237782700817
Year 6 balance: 42961.328354749305


Year 7 interest added: 2649.7607277131538
Year 7 balance: 45611.08908246246


Year 8 interest added: 2813.1921713629927
Year 8 balance: 48424.28125382545


Year 9 interest added: 2986.703708846995
Year 9 balance: 51410.984962672446


Total interest added: 21410.984962672446